<h1>Welcome to Filmr</h1>

<p>Your new Movie Match URL:</p>

<p>Share this URL with all the other people you’re trying to find a movie to watch with today.

  How does it work?

  <ol>
    <li>Explore movies and click the ones you like</li>
    <li>“Matches” list is created</li>
    <li>Watch Today movie is found!</li>
  </ol>

